ul
    li
        a(href="/") Home
    li
        a(href="/about") About
    li
        a(href="/register") Register    
    li
        a(href="/login") Login
    li
        a(href="/documentation") Documentation